/*general*/
.filter-list {
  padding-top: 10px;
}

.carousel-indicators li {
  width: 17px !important;
  height: 17px !important;
  background-color: #feffff !important;
  border-radius: 50%;
  position: relative;
}

/*.carousel-indicators li.active::before {
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: #dc3545;
    border-radius: 50%;
}*/
.carousel-caption {
  text-align: start;
  left: 5%;
}

.slide-title {
  font-family: "MullerNarrow-ExtraBold";
  font-size: 45px;
  line-height: 1.2;
  font-weight: 800;
  color: #212529;
}

.slide-title_key {
  color: #dc3545;
}

.slide-description {
  font-family: "MyriadPro-Regular";
  font-size: 20px;
  line-height: 29px;
  font-weight: 600;
  color: #212529;
  padding-top: 15px;
}

.slide-description_price {
  font-weight: 700;
  color: #dc3545;
}

.slide-description_list {
  padding-top: 20px;
  max-width: 50%;
  padding-bottom: 10px;
}

.slide-description_list > li {
  padding-top: 10px;
}

.promoter {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #343a40;
  padding-top: 30px;
}

.promoter_title {
  font-family: "MullerNarrow-ExtraBold";
  font-size: 25px;
  line-height: 37px;
  font-weight: 800;
  color: #343a40;
}

.three-steps {
  background-color: #ffffff;
  border: 2px solid #f5efe9;
  border-radius: 8px;
  padding: 10px 30px 35px 30px;
  margin-top: 20px;
}

.three-steps_title {
  font-family: "MullerNarrow-ExtraBold";
  font-size: 25px;
  line-height: 50px;
  font-weight: 800;
  color: #343a40;
}

.three-steps_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}

.three-steps_cards__text {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #343a40;
  padding-top: 20px;
  text-align: center;
}

.three-steps_cards__img {
  min-height: 55px;
}

.three-steps_cards__img-step1 {
  background-image: url("/img/step1.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  min-height: 3.5rem;
}

.three-steps_cards__img-step2 {
  background-image: url("/img/step2.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  min-height: 3.5rem;
}

.three-steps_cards__img-step3 {
  background-image: url("/img/step3.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  min-height: 3.5rem;
}

.point {
  width: 15px;
  height: 15px;
  background-color: #f8d7da;
  border-radius: 3px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 5rem;
}

.three-steps_description {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #343a40;
  padding-top: 35px;
}

.how-work {
  padding-top: 85px;
}

.how-work_title {
  font-family: "MullerNarrow-ExtraBold";
  font-size: 25px;
  line-height: 1.2;
  font-weight: 800;
  color: #343a40;
  padding-bottom: 30px;
}

.how-work_text {
  font-family: "MyriadPro-Regular";
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #343a40;
}

.directions {
  padding-top: 90px;
  width: 100%;
}

.fire-safety {
  background-image: url("/img/fire_safety.png");
  background-repeat: no-repeat;
  min-height: 180px;
  margin-right: 50px;
}

.fire-safety_title,
.first-aid_title {
  top: 50%;
  left: 10%;
  position: absolute;
  font-family: "MullerNarrow-ExtraBold";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 800;
  color: #343a40;
}

.first-aid {
  background-image: url("/img/first_aid.png");
  background-repeat: no-repeat;
  min-height: 180px;
}

.why-are-we {
  padding-top: 90px;
}

.why-are-we_text__description {
  line-height: 28px;
}

.why-are-we_slider__img {
  width: 178px !important;
  height: 255px;
}

.owl-stage-outer .owl-stage .center .why-are-we_slider__img {
  width: 204px !important;
  height: 292px;
}
/*# sourceMappingURL=main.css.map */